:root {
  /* Colours */

  --color-bg: light-dark(#92a9a3, #282213);

  /* Header */
  --color-head-bg: light-dark(#282213, #282213);

  /* Logotype */
  --color-logotype-bg: light-dark(#92a9a3, #282213);
  --color-logotype-bg: url("../rough-metallic-surface-texture.png");
  --color-text-logotype: light-dark(#282213, #f2edd0);
  --font-logotype-size: 35px;

  /* Logo */
  
  

  /* Global menu */
  --color-menu-bg: light-dark(#92a9a3, #282213);

  /* Links */
  --color-link-bg: #78766e;
  --color-link-hover: #fff; /* used */
  --color-link-active: #99958f; /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 1rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: #4b4545;
  --color-headline-text-page: #42413d;

  /* Tekst */
  --color-text: light-dark(#000, #f2edd0);
  --color-text-inverted: #cdccc4;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: #f2edd0;
  --color-cta-card-bg: #d5d2d0;
  /* news-cards */
  --color-news-bg: #dbdad4;
  --color-news-bg-inverted: #585a5e;
  --color-cta-newscard-bg: #787473;
  --color-cta-newscard-bg-inverted: #7b7d83;

  /* Fonts */
  --font-family-sans: "Rubik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #676161;
  --color-infobox-1-bg: #cfcec6;
  --color-infobox-2-bg: #969995;
}
